**/*.log
**/*.sim
**/*.hex
!**/Binary/*.hex
**/*.o
**/*.out
*.log
*.pdsc
**/EWARM/Boot/*/
**/EWARM/Appli/*/
**/EWARM/**/*.dep
**/EWARM/**/*.ewt
**/EWARM/**/*.out
**/EWARM/**/STM32*/
**/EWARM/**/settings/
**/MDK-ARM/*uvgui.*
**/MDK-ARM/**/RTE/
**/MDK-ARM/**/STM32*/
**/MDK-ARM/**/*.lst
**/MDK-ARM/**/*.out
**/MDK-ARM/**/*vguix.*
**/MDK-ARM/**/*.scvd
**/STM32CubeIDE/*.launch
**/STM32CubeIDE/**/*.out
**/STM32CubeIDE/**/Debug/
**/STM32CubeIDE/**/Release/
**/STM32CubeIDE/**/Doc/
**/STM32CubeIDE/**/Drivers/
**/STM32CubeIDE/**/.settings/
